---
const pageTitle = "Nick Baker";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="homecontainer">
			<main class="hometitle">
				<section class="left-image">
					<img src="assets/nickpic.png" alt="Nick Baker in the flesh">
				</section>
				<section class="content">
					<h1>Nick Baker</h1>
					<h2>Design. Done.</h2>
					<div class="cta-buttons">
						<a href="/portfolio/" class="button">Portfolio</a>
						<a href="resume/" class="button">Resume</a>
					</div>
				</section>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
