---
const pageTitle = "Nick Baker";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle={pageTitle}>
	
		<div class="homecontainer">
			<main class="hometitle">
				<section class="left-image">
					<img src="assets/nickpic.png" alt="Nick Baker in the flesh">
				</section>
				<section class="content">
					<h1>Nick Baker</h1>
					<h2>Design. Done.</h2>
					<div class="cta-buttons">
						<a href="/portfolio/" class="button">Portfolio</a>
						<a href="resume/" class="button">Resume</a>
					</div>
				</section>
			</main>
			<footer></footer>
		</div>
		<style>
			header{display:none;}
			footer{display:none;}
		</style>
</BaseLayout>