---

---
<header>
    <a href="/" class="pagetitle">Nick Baker</a>
    <nav>
        <a href="/portfolio/" style="margin-right: 15px; ">Portfolio</a>
        <a href="/resume/">Resume</a>
    </nav>
</header>